<div class="wrapper" style="width: 100%;">
    
    <div class="container" style="border-radius: 10px; background-color: #f2f2f2; padding: 20px; margin: 20px 0 20px 0;">
        <h2>Need assistance?</h2>
        <p>To change your e-mail, password and everything else in your account, visit our <a href="https://customer.tripomatic.com">Customer portal</a>. For direct support, please reach out to us at <a href="mailto:support@tripomatic.com">support@tripomatic.com</a>.</p>
            </div>
</div>

<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
        &copy; 2024 Tripomatic s.r.o. 
    </div>
  
  </footer>